#include "rcstuff.h"
#include "putty-rc.h"

#define APPNAME "PuTTY++"
#define APPDESC "SSH, Telnet, Rlogin, and SUPDUP client"

IDI_MAINICON ICON "icons\\putty++.ico"
IDI_CFGICON ICON "..\\putty-0.79\\windows\\puttycfg.ico"

#include "help.rc2"
#include "putty-common.rc2"
#include "tabbar_res.rc2"
#include "pastedlg_res.rc2"

#ifndef NO_MANIFESTS
1 RT_MANIFEST "..\\putty-0.79\\windows\\putty.mft"
#endif /* NO_MANIFESTS */
